<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Transtorno obsesivo compulsivo</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/css/clean-blog.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Causas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post">Diagnostico y Tratamiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/inicio.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>TOC</h1>
            <span class="subheading">Transtorno Obsesivo Compulsivo</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          
            <h2 class="post-title">
              Descripcion General 
            </h2>
            <p class="post-subtitle">
              
              El trastorno obsesivo compulsivo (TOC) tiene un patrón de pensamientos y miedos irracionales (obsesiones) que te hacen tener comportamientos repetitivos (compulsiones). Estas obsesiones y compulsiones interfieren en las actividades diarias y causan mucha angustia.
              
              Tal vez intentes ignorar o detener tus obsesiones, pero eso solo aumenta la angustia y la ansiedad. En última instancia, sientes la necesidad de realizar actos compulsivos para intentar aliviar el estrés. A pesar de los esfuerzos para ignorar o eliminar los pensamientos o necesidades que te molestan, estos vuelven una y otra vez. Esto produce un comportamiento más ritualista: el círculo vicioso del TOC.
              
              El TOC suele centrarse en determinados temas, por ejemplo, un miedo a contaminarse con gérmenes. Para aliviar el miedo a contaminarse, puede que te laves las manos compulsivamente hasta que estén doloridas y agrietadas.
              
              Si tienes TOC, tal vez sientas pena y vergüenza por la enfermedad, pero el tratamiento puede ser eficaz.
            </p>
          
          <p class="post-meta">Posted by
            <a href="https://www.mayoclinic.org/es-es/diseases-conditions/obsessive-compulsive-disorder/symptoms-causes/syc-20354432">MayoClinic</a>
            on Sept. 17, 2016</p>
        </div>
        <hr>
        <div class="post-preview">
        
            <h2 class="post-title">
              Síntomas
            </h2>
            <p>
              A menudo, las obsesiones tratan sobre distintos temas, por ejemplo:
              <ul>
                <li>Temor a la contaminación o a la suciedad</li>
                <li>Necesitar que las cosas estén ordenadas simétricamen</li>
                <li>Pensamientos agresivos u horrendos sobre lastimarte o lastimar a otros</li>
                <li>Pensamientos indeseados, por ejemplo, agresivos, o sujetos religiosos o sexuales</li>
              </ul>
            </p>
            <p>
              Los signos y síntomas de la obsesión incluyen lo siguiente:
              <ul>
                <li>Temor a contaminarse por tocar objetos que han tocado otros</li>
                <li>Dudas sobre si se puso llave a la puerta o si se apagó la estufa</li>
                <li>Estrés intenso cuando los objetos no están ordenados u orientados de una determinada manera</li>
                <li>Imágenes indeseadas e incómodas en las que te lastimas o que lastimas a otros</li>
                <li>Pensamientos sobre gritar obscenidades o actuar de manera inadecuada, los cuales son indeseados y te incomodan</li>
                <li>Evasión de situaciones que pueden desencadenar obsesiones, como dar la mano</li>
                <li>Angustia acera de imágenes sexuales desagradables que se repiten en la mente</li>
              </ul>
            </p>
         
            <p class="post-meta">Posted by
              <a href="https://www.mayoclinic.org/es-es/diseases-conditions/obsessive-compulsive-disorder/symptoms-causes/syc-20354432">MayoClinic</a>
              on Sept. 17, 2016</p>
        </div>
        <hr>
       



  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            
            <li class="list-inline-item">
              <a href="https://www.facebook.com/adan.solorio.5">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/Adancho09">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/clean-blog.min.js"></script>

</body>

</html>
