<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Transtorno obsesivo compulsivo</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Causas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post">Diagnostico y Tratamiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/diagnostico.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Diagnostico y Tratamineto </h1>
            
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          
            <h2 class="post-title">
              Diagnóstico 
            </h2>
            <p class="post-subtitle">
              
              Entre los pasos para diagnosticar el TOC, pueden mencionarse los siguientes:

              <ul>
                <li><strong>Exploración física.</strong> Se puede realizar para descartar otros problemas que podrían estar causando los síntomas y para detectar cualquier complicación relacionada.</li>
                <li><strong>Análisis de laboratorio.</strong>Pueden incluir, por ejemplo, hemograma completo, control de la función tiroidea y detección de uso de alcohol y drogas.</li>
                <li><strong>Evaluación psicológica.</strong>Implica analizar tus pensamientos, sentimientos, síntomas y patrones de conducta. Si lo autorizas, puede haber comunicación con tus familiares y amigos.</li>
                <li><strong>Criterios de diagnóstico para el TOC.</strong>El médico puede aplicar los criterios establecidos en el Manual Diagnóstico y Estadístico de los Trastornos Mentales (DSM-5), publicado por la American Psychiatric Association (Asociación Estadounidense de Psiquiatría).</li>
              </ul>

            </p>
          
         
        </div>
        <hr>
        <div class="post-preview">
        
            <h2 class="post-title">
              Tratamiento

            </h2>
            <p>
              El tratamiento para el trastorno obsesivo compulsivo puede no resultar en la cura, pero puede ayudar a controlar los síntomas para que no controlen tu vida diaria. Algunas personas necesitan tratamiento durante toda la vida.
              Los dos tratamientos principales para el TOC son la psicoterapia y los medicamentos. A menudo, el tratamiento es más efectivo si se combinan ambas cosas.
            </p>
            <h2 class="post-title">
              Psicoterapia

            </h2>

            <p>
              La terapia cognitivo-conductual (TCC) es un tipo de psicoterapia efectiva para muchas personas con trastorno obsesivo compulsivo. La exposición con prevención de la respuesta (EPR), un tipo de terapia cognitivo conductual (TCC), implica tu exposición gradual a objetos temidos u obsesiones, como la suciedad y enseñarte maneras saludables para hacer frente a tu ansiedad. La EPR implica esfuerzo y práctica, pero podrás disfrutar de una mejor calidad de vida una vez que aprendas a controlar tus obsesiones y compulsiones.
            </p>
            <p>
              La terapia puede desarrollarse en sesiones individuales, familiares o grupales.
            </p>

            <h2 class="post-title">
              Medicamentos
             
            </h2>
            <p>
              Determinados medicamentos psiquiátricos pueden usarse para controlar las obsesiones y compulsiones propias del trastorno obsesivo compulsivo (TOC). Lo más frecuente es que primero se indiquen antidepresivos.
            </p>
            <p>
              Entre los aprobados por la Administración de Alimentos y Medicamentos para tratar el TOC, pueden mencionarse los siguientes:

              <ul>
                <li>Clomipramina (Anafranil), para adultos y para niños a partir de los 10 años</li>
                <li>Fluoxetina (Prozac), para adultos y para niños a partir de los 7 años</li>
                <li>Fluvoxamina, para adultos y para niños a partir de los 8 años</li>
                <li>Paroxetina (Paxil, Pexeva), únicamente para adultos</li>
                <li>Sertralina (Zoloft), para adultos y para niños a partir de los 6 años</li>
              </ul>
              Sin embargo, el médico puede recetar otros antidepresivos y medicamentos psiquiátricos.
            </p>
            
            <h2 class="post-title">
           
              Medicamentos: Qué debes tener en cuenta
            </h2>
            <p>
              A continuación, te damos algunos temas para hablar con el médico acerca de los medicamentos para el TOC:
              <ul>
                <li><strong>Cómo elegir un medicamento.</strong>En general, el objetivo es controlar de manera efectiva los síntomas con la menor dosis posible. No es inusual probar diferentes fármacos antes de encontrar el correcto para ti. Es posible que el médico te recomiende más de un medicamento para controlar los síntomas de manera efectiva. Una vez que empiezas a tomar un medicamento, la mejora en los síntomas podría advertirse recién al cabo de semanas o meses.</li>
                <li><strong>Efectos secundarios.</strong>Todos los psicofármacos tienen potenciales efectos secundarios. Habla con tu médico acerca de los posibles efectos secundarios y sobre cualquier control médico que sea necesario mientras recibes psicofármacos. Cuéntale al médico si presentas efectos secundarios preocupantes.</li> 
                <li><strong>Riesgo de suicidio.</strong> Por lo general, la mayoría de los antidepresivos son seguros, sin embargo, la Administración de Alimentos y Medicamentos (Food and Drug Administration, FDA) exige que todos los antidepresivos tengan una advertencia en un recuadro negro, la advertencia más estricta para los medicamentos recetados. En algunos casos, los niños, adolescentes y adultos jóvenes menores de 25 años pueden tener un aumento de los pensamientos o comportamientos suicidas cuando toman antidepresivos, en especial, en las primeras semanas después de comenzar o cuando se modifica la dosis. Si se presentan pensamientos suicidas, comunícate de inmediato con tu médico o busca ayuda de urgencia. Recuerda que es más probable que los antidepresivos reduzcan el riesgo de suicidio a largo plazo al mejorar el estado de ánimo.</li>
                <li><strong>Interacciones con otras sustancias.</strong>Al tomar un antidepresivo, cuéntale al médico acerca de cualquier otro medicamento recetado o de venta libre, suplementos a base de hierbas u otros suplementos que estés tomando. Algunos antidepresivos pueden provocar reacciones peligrosas si se combinan con determinados medicamentos o suplementos a base de hierbas.</li>              
                <li><strong>Suspensión de los antidepresivos.</strong>Si bien los antidepresivos no se consideran adictivos, es posible que se presente cierta dependencia física (que es distinta a la adicción). Por lo tanto, suspender el tratamiento de manera abrupta o saltar varias dosis puede provocar síntomas similares a los de la abstinencia, lo que a veces se conoce con el nombre de síndrome de discontinuación. No suspendas los medicamentos sin antes hablar con el médico, incluso si se siente mejor. Podrías tener una recaída de los síntomas del TOC. Trabaja con el médico para disminuir de manera gradual y segura la dosis.</li>
              </ul>
            </p>
         
            <p class="post-meta">Posted by
              <a href="https://www.mayoclinic.org/es-es/diseases-conditions/obsessive-compulsive-disorder/symptoms-causes/syc-20354432">MayoClinic</a>
              on Sept. 17, 2016</p>
        </div>
        <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
